:root {
  --global-base-accent: #03a9f4;
  --global-base-text-color: #000000de;
  --global-base-bg: #f2f2f2;
  --global-base-bg-darken: #ffffff;
  --global-base-bg-lighten: #D5D5D5;
  --global-base-border-color: #e0e0e0;
}

