<div class="content-block">
  <div class="dx-card responsive-paddings" [ngStyle]="{'height': height + 'px'}">
    <div class="top">
      <div class="audio">
        <audio *ngIf="peer" class="peer" [id]="peer.connectionId" [attr.data-connection]="peer.connectionId" autoplay="" playsinline="true"></audio>
      </div>
      <div class="row">
        <div class="col flex-center ps-2">
          <span class="me-2 badge" [ngClass]="{'badge-success': isConnected, 'badge-error': !isConnected}"></span>
          <span class="me-2" *ngIf="isConnected"> ID de conexão: <span class="id">{{'TF-'+ myId }}</span></span>
        </div>
        <div class="col">
          <div class="float-end">
            <dx-button
              text="Escolher dispositivos"
              icon="preferences"
              (click)="showConfigDevices = true"
              stylingMode='contained'
              type="default">
            </dx-button>
          </div>
      </div>
      <div class="row mt-2">
        <div class="col flex-center ps-2">
          <dx-button
            class="me-2"
            (click)="mutateOrUnmute()"
            stylingMode='text'
            [type]="isMute ? 'success' : 'danger'"
            [disabled]="!onCall">
            <i class="action-icon bi" [ngClass]="{'bi-mic-fill': isMute, 'bi-mic-mute-fill': !isMute}"></i>
          </dx-button>

          <dx-button
            class="me-2"
            (click)="setAudio()"
            stylingMode='text'
            [type]="onAudio ? 'success' : 'danger'"
            [disabled]="!onCall">
            <i class="action-icon bi" [ngClass]="{'bi-volume-up-fill': onAudio, 'bi-volume-mute-fill': !onAudio}"></i>
          </dx-button>

          <dx-button
            text='FINALIZAR CHAMADA'
            (click)="stopCall()"
            stylingMode='contained'
            [type]="'danger'"
            [disabled]="!onCall">
            <i class="bi bi-telephone-x-fill"></i>
            <strong class="ms-3">FINALIZAR CHAMADA</strong>
          </dx-button>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <div class="row mt-2">
          <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <div class="tf">
              <div class="row m-0 mb-2">
                <div class="col text-center">
                  <span class="title">Frequências do tipo TF</span>
                </div>
              </div>
              <div class="row m-0">
                <ng-container *ngIf="frequencies.length > 0; else elseTemplate">
                  <div class="col-6 pe-1 ps-1 " *ngFor="let frequency of frequencies; let i=index">
                    <div class="frequency mb-2" [id]="'frequency-'+frequency.connectionId">
                      <div class="channel" (click)="selectFrequency(frequency)" [ngClass]="setClass(frequency)">
                        <div class="">
                          {{frequency.id}}
                        </div>
                        <div *ngIf="peer && frequency.connectionId === peer.connectionId">
                          <div class="signal">
                            <div class="row m-0">
                              <div class="col-6 p-0">
                                <i class="bi" [ngClass]="{'bi-volume-up-fill': peer.isAudioActive , 'bi-volume-mute-fill': !peer.isAudioActive}"></i>
                              </div>
                              <div class="col-6 p-0">
                                TX
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #elseTemplate>
                  <div class="col no-frequencies">
                    <span>Nenhuma conexão no momento.</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup
  [width]="500"
  height="auto"
  [showTitle]="true"
  title="Configuração de áudio"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="showConfigDevices">
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="saveDevicesButtonOptions">
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions">
  </dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <div class="row">
      <div class="col-12">
        <div class="mb-1"> Microfone </div>
        <dx-select-box
          id="select-microfone"
          placeholder="Escolha seu microfone"
          [items]="microfones"
          keyExpr="id"
          displayExpr="name"
          [showClearButton]="false"
          [(value)]="selectedMicrofone">
          <div *dxTemplate="let data of 'item'">
            <div class="custom-item">
              <div class="device-name">
                {{ data.name }}
              </div>
              <span class="is-default" *ngIf="data.isDefault">Dispositivo padrão do sistema</span>
            </div>
          </div>
        </dx-select-box>
      </div>
      <div class="col-12 mt-3">
        <div class="mb-1"> Alto-falante </div>
        <dx-select-box
          placeholder="Escolha seu dispositivo de áudio"
          [items]="audios"
          keyExpr="id"
          displayExpr="name"
          [showClearButton]="false"
          [searchEnabled]="false"
          [(value)]="selectedAudio">

          <div *dxTemplate="let data of 'item'">
            <div class="custom-item">
              <div class="device-name">
                {{ data.name }}
              </div>
              <span class="is-default" *ngIf="data.isDefault">Dispositivo padrão do sistema</span>
            </div>
          </div>

        </dx-select-box>
      </div>
    </div>
  </div>
  </dx-popup>
